@import url('https://fonts.googleapis.com/css2?family=Passero+One&display=swap');
h1, h2 {
    margin: 0;

    font-family: "Passero One", sans-serif;
    font-style: normal;
}
h1 {
    font-size: 7rem;
}